
form {
  margin-top: 2rem;
  background: #fff;
  padding: 2rem 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 800px;
}


.client__header--text{
  margin:0;
  color: #b2b7ff;
}
.client__form--items {
  border: 0 solid #dae1e7;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.client__form--item{
  display: flex;
  flex-direction: column;
  flex: 0 0 48%;
  margin-bottom: 1rem;
  padding: 0 1%;

  //&:nth-of-type(2n+2) {
  //  margin-left: 2%;
  //}

  .form-label{
    color: #777;
    margin-bottom: 0.5rem;
    user-select: none;
  }

  .form-input{
    padding: 8px;
    display:block;
    border: 1px solid #ddd;
    color: #3d4852;
    background-color: #fff;
    border-radius: 0.25rem;
    text-align: left;



    &.ng-touched.ng-invalid {
      border-color: red;
    }

  }

}

.alert__client{

  color: #f56565;
  margin-top: 5px;
  font-size: 14px;

}

.main-container--buttons{
  padding: 1rem 1%;
  //padding-bottom: 1rem;
  display: flex;
  flex: 0 0 48%;
  align-items: center;
  border: 0 solid #dae1e7;
  background-color: #F8FAFC;


  .delete-client{
    color: #e3342f;
    background: transparent;
    border:0;

    &:hover{
      text-decoration: underline;
    }

  }
  .update-client{
    margin-left: auto;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: .25rem;
    background-color: #5661b3;
    color:#fff;
    font-size: 0.875rem;
    font-weight: 700;
    white-space: nowrap;
  }
}
