.invoices-page {
  .main-content__items {
    border-bottom: 2px solid #E3E6EB;

    :hover, :active {
      color: #2E3138;
      border-bottom-color: #1C1E24;
    }

    .main-content__item {
      display: inline-block;
      padding: 16px 32px 16px 8px;
      color: #626971;
      font-weight: bold;
      text-decoration: none;

      &:hover,
      :active{
        color:#5b5ef7;
        cursor: pointer;
      }

    }

    .main-content__item--active {
      border-bottom: 2px solid #333;
    }

    .btn {
      padding: 1rem 2rem;
      border-radius: 40px;
      background-color: #2D3848;
      color: #fff;
      font-weight: bold;
      font-size: 16px;

      &:focus,
      &:hover {
        outline: none;
      }
    }

  }


  .main-content__lists {
    border-radius: 20px;
  }

  .main-content__lists-btn {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;

    :focus :active {
      outline: none;
    }
  }

  .main-content__details {
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


    .main-content__detail_items {
      background-color: #F6FAFB;
      list-style: none;
      display: flex;
      border-bottom: 1px solid #E3E6EB;
      padding: 14px 18px;
      line-height: 1;
      align-items: center;

      &:last-of-type {
        border-bottom: 0;
      }

      .main-content__detail_item {
        color: #626971;
        font-size: 14px;
        flex: 1;
      }

      .detail_item-transaction {
        flex: 2;
      }

    }

    .detail_items_factor {
      background-color: #FFFFFF;
    }
  }

  .detail__item-status{
    position: relative;
    border: 2px solid red;
    border-radius: 20px;
    background: orange;

  }

}
