.invoices-page {
  .main-content__items {
    border-bottom: 2px solid #E3E6EB;

    :hover, :active {
      color: #2E3138;
      border-bottom-color: #1C1E24;
    }

    .main-content__item {
      display: inline-block;
      padding: 16px 32px 16px 8px;
      color: #626971;
      font-weight: bold;
      text-decoration: none;

      &:hover,
      :active{
        color:#5b5ef7;
        cursor: pointer;
      }

    }

    .main-content__item--active {
      border-bottom: 2px solid #333;
    }


  }


  .main-content__lists {
    border-radius: 20px;
  }

  .main-content__lists-btn {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;

    :focus :active {
      outline: none;
    }
  }

  .main-content__details {
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


    .main-content__detail_items {
      background-color: #F6FAFB;
      list-style: none;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      border-bottom: 1px solid #E3E6EB;
      padding: 20px 18px;
      line-height: 1;
      align-items: center;

      &:last-of-type {
        border-bottom: 0;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        transition: 0.2s;
        position: relative;
      }

      &.main-content__detail-header{
        background-color: #E1E8EF;
        font-weight: 600;
        &:hover {
          box-shadow: none;
        }
      }


      .main-content__detail_item {
        color: #626971;
        font-size: 14px;
        flex: 1;
      }

      .detail_item-transaction {
        flex: 2;
      }

    }
  }


}
