<div class="container invoices-page">
  <div class="sidebar-container">
    <div class="header-logo">
      <app-logo></app-logo>
    </div>
    <app-menu></app-menu>
  </div>
  <main class="main-container">
    <app-header></app-header>
    <div class="main-content">
      <div class="main-content__heading">
        <h1>Invoices</h1>
        <button class="btn btn-with-icon" (click)="onAddInvoice()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path class="heroicon-ui"
                  d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/>
          </svg>
          New Invoice
        </button>
      </div>

      <div class="content__datatable">
        <div class="content__datatable--filter">
          <button type="button" (click)="onUpdateFilter('ALL')"
                  [ngClass]="{'filter--active': (currentFilter === 'ALL')}">All
          </button>
          <button type="button" (click)="onUpdateFilter('PAID')"
                  [ngClass]="{'filter--active': (currentFilter === 'PAID')}">Paid
          </button>
          <button type="button" (click)="onUpdateFilter('PENDING')"
                  [ngClass]="{'filter--active': (currentFilter === 'PENDING')}">Pending
          </button>
          <button type="button" (click)="onUpdateFilter('OVERDUE')"
                  [ngClass]="{'filter--active': (currentFilter === 'OVERDUE')}">Overdue
          </button>
          <button type="button" (click)="onUpdateFilter('DRAFT')"
                  [ngClass]="{'filter--active': (currentFilter === 'DRAFT')}">Draft
          </button>
        </div>

        <div class="content__datatable--list">
          <div class="content__datatable--row content__datatable--header">
            <div class="content__datatable--column">NO.</div>
            <div class="content__datatable--column">Invoice Name</div>
            <div class="content__datatable--column">Invoice Date</div>
            <div class="content__datatable--column">Status</div>
            <div class="content__datatable--column">Amount</div>
          </div>
          <div class="content__datatable--row" *ngFor="let item of invoices" (click)="onNavigateToInvoice(item)">
            <div class="content__datatable--column">{{ item.invoiceNumber }}</div>
            <div class="content__datatable--column">{{ item.invoiceName }}</div>
            <div class="content__datatable--column">{{ item.invoiceDate }}</div>
            <div class="content__datatable--column">
              <div class="content__datatable--column--status"
                   [ngClass]="'status-' + item.invoiceStatus.toLowerCase()">
                {{ item.invoiceStatus.toLowerCase() }}
              </div>
            </div>
            <div class="content__datatable--column">{{ getInvoiceAmount(item) | currency }}</div>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>
