<div class="invoices-page">
  <h1 class="main-content__heading">Invoices</h1>
  <form>
    <div class="main-content__items">
      <div href="#" class="main-content__item main-content__item--active">All</div>
      <div class="main-content__item">Draft</div>
      <div class="main-content__item">Overdue</div>
      <div class="main-content__item">Paid</div>
      <div class="main-content__item">Sent</div>
      <button class="btn">New Invoice</button>
    </div>
    <div class="main-content__details">
      <div class="main-content__detail_items">
        <a class="main-content__detail_item detail_item-name">INVOICE NAME</a>
        <a class="main-content__detail_item">INVOICE DATE</a>
        <a class="main-content__detail_item">STATUS</a>
        <a class="main-content__detail_item">CLIENT</a>
        <a class="main-content__detail_item">AMOUNT</a>
        <a class="main-content__detail_item">EDIT</a>

      </div>
      <div class="main-content__detail_items detail_items_factor">
        <div class="main-content__detail_item detail_item-name">INVOICE NAME</div>
        <div class="main-content__detail_item">Sept 11, 2019</div>
        <div class="main-content__detail_item detail__item-status">Draft</div>
        <div class="main-content__detail_item">Genesys</div>
        <div class="main-content__detail_item">$20000</div>
        <div class="main-content__detail_item">EDIT</div>
      </div>
      <div class="main-content__detail_items detail_items_factor">
        <div class="main-content__detail_item detail_item-name">INVOICE NAME</div>
        <div class="main-content__detail_item">Oct 20, 2018</div>
        <div class="main-content__detail_item detail__item-status">Overdue</div>
        <div class="main-content__detail_item">Sandhills</div>
        <div class="main-content__detail_item">$25639</div>
        <div class="main-content__detail_item">EDIT</div>
      </div>
      <div class="main-content__detail_items detail_items_factor">
        <div class="main-content__detail_item detail_item-name">INVOICE NAME</div>
        <div class="main-content__detail_item">Jan 01, 2020</div>
        <div class="main-content__detail_item detail__item-status">Paid</div>
        <div class="main-content__detail_item">Metric Systems</div>
        <div class="main-content__detail_item">$56983</div>
        <div class="main-content__detail_item">EDIT</div>
      </div>
      <div class="main-content__detail_items detail_items_factor">
        <div class="main-content__detail_item detail_item-name">INVOICE NAME</div>
        <div class="main-content__detail_item">Jan 01, 2020</div>
        <div class="main-content__detail_item detail__item-status">Sent</div>
        <div class="main-content__detail_item">Express Ink</div>
        <div class="main-content__detail_item">$56983</div>
        <div class="main-content__detail_item">EDIT</div>
      </div>
    </div>
  </form>
</div>
