<div class="auth__page login__page">
  <app-logo></app-logo>
  <form #resetVariable="ngForm" name="loginForm" (ngSubmit)="onSubmit(resetVariable.value)">
    <h4>Reset Password</h4>
    <div class="auth__fields">
      <div class="auth__field">
        <label for="resetPassFld">Email Address</label>
        <input type="email"
               #resetPassVariable=ngModel
               required
               name="resetPass"
               id="resetPassFld"
               placeholder="email@domail.com"
               autocomplete="off"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               [(ngModel)]="emailAddress">
        <div *ngIf="resetPassVariable.errors && (resetPassVariable.dirty || resetPassVariable.touched)"
             class="auth__errors">
          <div [hidden]="!resetPassVariable.errors.required">
            Email Address is required
          </div>
          <div [hidden]="!resetPassVariable.errors.pattern">
            Invalid email address
          </div>
        </div>
      </div>
      <div class="auth__buttons">
        <button class="auth__field--submit" type="submit" [disabled]="!resetVariable.valid"> Reset Password
        </button>
      </div>
    </div>
  </form>
  <div class="auth__action">
    <button (click)="onLogin()">Back to Login</button>
  </div>
</div>
