
.main__form {
  margin-top: 2rem;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 800px;

  hr {
    height: 1px;
    color: #DDD;
    background-color: #DDD;
    border: none;
  }

  h4 {
    margin: 20px 0;
  }
}


.company__header--text {
  margin: 0;
  color: #b2b7ff;
}

.company__form--items {
  border: 0 solid #dae1e7;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.company__form--item {
  display: flex;
  flex-direction: column;
  flex: 0 0 48%;
  margin-bottom: 1rem;
  padding: 0 1%;


  .form-label {
    color: #777;
    margin-bottom: 0.5rem;
    user-select: none;
  }

  .form-input {
    padding: 8px;
    display: block;
    border: 1px solid #ddd;
    color: #3d4852;
    background-color: #fff;
    border-radius: 0.25rem;
    text-align: left;

    &.ng-touched.ng-invalid {
      border-color: red;
    }
  }

}

.company__form--items--settings {
  .company__form--item {
    flex: 0 0 31.33%;
    padding: 0 1%;
  }
}

.alert__company {

  color: #5b5ef7;
  margin-top: 0.75rem;
}

.main-container--buttons {
  margin: 20px 0 0 0;
  padding: 1rem 1%;
  display: flex;
  flex: 0 0 48%;
  align-items: center;
  border: 0 solid #dae1e7;
  background-color: #F8FAFC;
  cursor: pointer;

}

.save__settings {
  margin-left: auto;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: .25rem;
  background-color: #5661b3;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;


  &:hover{
    cursor: pointer;

  }
}



