<div class="clients-page">
  <h1 class="main-content__heading">Clients</h1>
  <form>
    <div class="main-content__details">
      <div class="main-content__detail--items header">
        <div class="main-content__detail--item ">CLIENT NAME</div>
        <div class="main-content__detail--item">EMAIL</div>
        <div class="main-content__detail--item">PHONE</div>
        <div class="main-content__detail--item">CITY</div>
      </div>
      <div class="main-content__detail--items">
        <div class="main-content__detail--item ">CLIENT NAME</div>
        <div class="main-content__detail--item">EMAIL</div>
        <div class="main-content__detail--item ">1234567890</div>
        <div class="main-content__detail--item">Miami</div>
      </div>
      <div class="main-content__detail--items">
        <div class="main-content__detail--item detail__item-name">CLIENT NAME</div>
        <div class="main-content__detail--item">EMAIL</div>
        <div class="main-content__detail--item ">2345678901</div>
        <div class="main-content__detail--item">New York</div>
      </div>
      <div class="main-content__detail--items">
        <div class="main-content__detail--item">CLIENT NAME</div>
        <div class="main-content__detail--item">EMAIL</div>
        <div class="main-content__detail--item ">3456789012</div>
        <div class="main-content__detail--item">California</div>
      </div>
      <div class="main-content__detail--items">
        <div class="main-content__detail--item">CLIENT NAME</div>
        <div class="main-content__detail--item">EMAIL</div>
        <div class="main-content__detail--item ">4567890123</div>
        <div class="main-content__detail--item">Dallas</div>
      </div>
    </div>
  </form>
</div>
