<div class="container clients-page">
  <div class="sidebar-container">
    <div class="header-logo">
      <app-logo></app-logo>
    </div>
    <app-menu></app-menu>
  </div>
  <main class="main-container">
    <app-header></app-header>
    <div class="main-content">

      <div class=main-content__heading>
        <h1>Clients</h1>
        <button class="btn btn-with-icon" (click)="onAddClient()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path class="heroicon-ui"
                  d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/>
          </svg>
          New Client
        </button>

      </div>
      <div class="content__datatable">
        <div class="content__datatable--list">
          <div class="content__datatable--row content__datatable--row-col-4 content__datatable--header">
            <div class="content__datatable--column">Client Name</div>
            <div class="content__datatable--column">Email</div>
            <div class="content__datatable--column">Phone</div>
            <div class="content__datatable--column">City</div>
          </div>
          <div class="content__datatable--row content__datatable--row-col-4" *ngFor="let client of clients"
               (click)="onNavigateToClient(client)">
            <div class="content__datatable--column">{{ client.name }}</div>
            <div class="content__datatable--column">{{ client.email }}</div>
            <div class="content__datatable--column">{{ client.phone }}</div>
            <div class="content__datatable--column">{{ client.city }}</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
