
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem;

  app-logo {
    margin: 10px 0;
  }
}

form {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid #dae1e7;
  margin: 20px 0 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  min-width: 300px;

}


.login__fields {
  display: grid;
  justify-self: center;
  align-self: center;
  margin: auto;
  line-height: 1.5;
  width: 100%;

  .login__field {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #1b1b1b;
    font-weight: 700;
    line-height: 1.625;

  }

  input {
    border-radius: 4px;
    line-height: 1.25;
    padding: 8px 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;

    &.ng-touched.ng-invalid {
      border-color: #f56565;
    }
  }

  .login__errors {
    color: #f56565;
    margin-top: 5px;
    font-size: 14px;
  }

  .login__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login__field--submit {
      background: var(--primary-color);
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      margin-top: 0.5rem;
      line-height: 1.625;
      padding: 0.5rem 1rem;
      font-weight: 700;

    }

    .forgot__password {

      color: var(--primary-color);
      font-size: 0.875rem;
      font-weight: 700;
      text-decoration: none;
      background-color: transparent;
      border: 0 solid #e2e8f0;
      line-height: 1.625;
      cursor: pointer;
      padding-top: 8px;

    }


  }
}

.register__action {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  button {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 0 solid #e2e8f0;
    line-height: 1.625;
    cursor: pointer;
    font-size: 16px;
  }

}

