form{
  padding: 2.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid #dae1e7;
  margin: 0 330px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);

}


.login__item{
 display: grid;
  max-width: 250px;
  justify-self: center;
  align-self:center;
  margin:auto;
  line-height: 1.5;

  .login__item--value{
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border:1px solid #777;
    margin-top: 0.25rem;
    line-height: 1.5;
    padding: 8px 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
  }

  .alert__username{
    color: #5b5ef7;
  }

  .alert__password{
    color: #5b5ef7;
  }
  .login__item--submit{
    max-width: 100px;
    background: #5b5ef7;
    border-radius: 4px;
    color:#fff;
    cursor: pointer;
    margin-top: 0.5rem;
    height:2rem;
     }

}

