<form #formVariable="ngForm" name="loginForm" (ngSubmit)="onSubmit(formVariable.value)">
  <div class="login__item">
    <label for="loginNameFld">Email Address</label>
    <input class="login__item--value"
           type="email"
           #loginNameVariable=ngModel
           required
           name="loginName"
           id="loginNameFld"
           autocomplete="off"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           [(ngModel)]="loginName">
    <div *ngIf="loginNameVariable.errors && (loginNameVariable.dirty || loginNameVariable.touched)"
         class="alert__username">
      <div [hidden]="!loginNameVariable.errors.required">
        Email Address is required
      </div>
      <div [hidden]="!loginNameVariable.errors.pattern">
        Invalid email address
      </div>
    </div>
    <label for="passwordFld">Password</label>
    <input class="login__item--value"
           type="password"
           minlength="8"
           required
           autocomplete="off"
           #passwordVariable=ngModel
           name="password"
           id="passwordFld"
           pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
           [(ngModel)]="loginPass">
        <div *ngIf="passwordVariable.errors && (passwordVariable.dirty || passwordVariable.touched)"
         class="alert__password">
          <div [hidden]="!passwordVariable.errors.required">
            Invalid password
          </div>
          <div [hidden]="!passwordVariable.errors.minlength">
            Password should be of minimum 8 characters
          </div>
          <div [hidden]="!passwordVariable.errors.pattern">
            Password must contain at least one letter, one number and one special character
          </div>
        </div>
      <button class="login__item--submit" type="submit" [disabled]="!formVariable.valid"> Log In</button>
    </div>
</form>

