<div class="clients-page">
  <div class="client__header">
    <h1 class="client__header--text">Clients</h1>
  </div>

  <form #clientForm="ngForm" name="clientForm" (ngSubmit)="onSubmit(clientForm.value)">
    <div class="client__form--items">
      <div class="client__form--item">
        <label class="form-label">Name:</label>
        <input class="form-input"
               type="text"
               name="clientName"
               #clientNameVariable="ngModel"
               [(ngModel)]="clientName"
               autocomplete="off"
               required
               minlength="3">
        <div *ngIf="clientNameVariable.errors&&(clientNameVariable.dirty||clientNameVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientNameVariable.errors.required">
            Name is required
          </div>
          <div [hidden]="!clientNameVariable.errors.minlength">
            Name must be at least 4 characters.
          </div>
        </div>


      </div>
      <div class="client__form--item">
        <label class="form-label">Email:</label>
        <input class="form-input"
               type="email"
               #clientEmailVariable="ngModel"
               required
               name="clientEmail"
               id="clientEmailFld"
               autocomplete="off"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               [(ngModel)]="clientEmail">
        <div *ngIf="clientEmailVariable.errors && (clientEmailVariable.dirty || clientEmailVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientEmailVariable.errors.required">
            Email Address is required
          </div>
          <div [hidden]="!clientEmailVariable.errors.pattern">
            Invalid email address
          </div>
        </div>


      </div>
      <div class="client__form--item">
        <label class="form-label">Phone:</label>
        <input class="form-input"
               type="number"
               #clientPhoneVariable="ngModel"
               required
               name="clientPhone"
               id="clientPhoneFld"
               autocomplete="off"
               [(ngModel)]="clientPhone">
        <div *ngIf="clientPhoneVariable.errors && (clientPhoneVariable.dirty || clientPhoneVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientPhoneVariable.errors.required">
            Phone Number is required
          </div>
        </div>
      </div>
      <div class="client__form--item">
        <label class="form-label">Street Address:</label>
        <input class="form-input"
               type="text"
               #clientAddressVariable="ngModel"
               [(ngModel)]="clientAddress"
               required
               name="clientAddress"
               id="clientAddressFld">
        <div *ngIf="clientAddressVariable.errors && (clientAddressVariable.dirty || clientAddressVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientAddressVariable.errors.required">
            Address is required
          </div>
        </div>

      </div>
      <div class="client__form--item">
        <label class="form-label">City:</label>
        <input class="form-input"
               type="text"
               #clientCityVariable="ngModel"
               [(ngModel)]="clientCity"
               required
               name="clientCity"
               id="clientCityFld">
        <div *ngIf="clientCityVariable.errors && (clientCityVariable.dirty || clientCityVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientCityVariable.errors.required">
            City is required
          </div>
        </div>
      </div>
      <div class="client__form--item">
        <label class="form-label">State:</label>
        <input class="form-input"
               type="text"
               #clientStateVariable="ngModel"
               [(ngModel)]="clientState"
               required
               name="clientState"
               id="clientStateFld">
        <div *ngIf="clientStateVariable.errors && (clientStateVariable.dirty || clientStateVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientStateVariable.errors.required">
            State is required
          </div>
        </div>
      </div>
      <!-- TODO: Maybe merge state and postal fields to one column? -->
      <div class="client__form--item">
        <label class="form-label">Postal Code:</label>
        <input class="form-input"
               type="text"
               #clientPostalVariable="ngModel"
               [(ngModel)]="clientState"
               required
               name="clientPostal"
               id="clientPostalFld">
        <div *ngIf="clientPostalVariable.errors && (clientPostalVariable.dirty || clientPostalVariable.touched)"
             class="alert__client">
          <div [hidden]="!clientPostalVariable.errors.required">
            Postal Code is required
          </div>
        </div>


      </div>
    </div>
    <div class="main-container--buttons">
      <button class="delete-client">Delete Client</button>
      <button class="update-client" [disabled]="!clientForm.valid">Update Client</button>
    </div>
  </form>
</div>


