<div class="invoice__form--settings">
  <div class ="invoice__form--settings-send">
    <button class="invoice__form--settings-send-button">Send Invoice</button>
  </div>
  <div class ="invoice__form--settings-double">
    <a href="#" class="invoice__form--settings-double-preview">Preview</a>
    <a href="#" class="invoice__form--settings-double-preview">Download</a>
  </div>
  <div class ="invoice__form--settings-currency">
    <label class="invoice__form--settings-currency-name">Currency</label>
    <input class="invoice__form--settings-currency-input" type="text" value="Symbol">
  </div>


</div>
