.main__invoice{
  padding: 2.5rem;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  max-width: 800px;
  margin: 2rem;

  .main__invoice--header{
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #F2F2F2;
    display: grid;
    grid-template-columns: 55% 25% 20%;


    .main__invoice--header-item-label{
      color: #3d4852;
    }

    .main__invoice--header-item-input{
      background-color: #F8F8F8;
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 8px 16px;
      max-width: 100px;


    }
  }
  .main__invoice--title{
    padding: 2rem 0;
    border-bottom: 1px solid #F2F2F2;
    display: grid;
    grid-template-columns: 75% 25%;

    .main__invoice--title-description{
      display: grid;
      grid-template-rows: 1fr;

    }

    .main__invoice--title-description-label{
      font-size:1.5rem;
      line-height:2.5rem;


    }
    .main__invoice--title-description-input{
      margin-top: 0.75rem;
      max-width: 400px;
      width: 100%;
      padding: 0.5rem 0.75rem;
      background-color: #F8F8F8;
      border-radius: 4px;
      border: 1px solid transparent;


    }
  }
}

.main__invoice--bill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
  height: 100px;
  border-bottom: 1px solid #F2F2F2;
}

.main__invoice--items{
  display: grid;
  //grid-template-columns: 1.5fr 0.5fr 0.5fr 1fr;
  padding: 32px 0px;
}

.main__invoice--item{
  display: grid;
  grid-template-columns: 60% 10% 10% 10%;
  padding: 32px 0px;
  border-bottom: 1px solid #F2F2F2;
}

.main__invoice--field {
  display: grid;
  input {
    color: #777;
    margin-right: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    line-height: 1.5;
    padding: 4px 8px;
  }
}


.main__invoice--item-button{
  padding-top: 1rem;


  .main__invoice--item-button-input{
    border-radius: 4px;
    padding: 4px 8px;
    color: #5b5ef7;
  }
}

.main__invoice--amount{

  display:grid;
  grid-template-columns: 1fr 1fr;
}

.main__invoice--amount-sum-subtotal{
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-bottom: 1px solid #F2F2F2;
  padding: 1rem 2rem;
  line-height: 2;

 }

.main__invoice--amount-sum-total{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #F2F2F2;
  padding: 1rem 2rem;
  line-height: 2;
}

.invoice__button {
  padding: 8px 24px;
  font-size: 14px;
  background-color: #5b5ef7;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(100, 100, 100, 0.5);
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  margin-left: 300px;
  margin-top: 30px;

}
