
.invoice__form--info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: var(--border);
  padding: 1rem 0;
  margin: 0 0 1rem;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);

  .invoice__form--info--field {
    padding: 0 1rem;

    .form__field {
      display: inherit;
    }

    input {
      max-width: 120px;
    }
  }

}


.invoice__form {
  background: #fff;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1rem;
}
.invoice__form--header {
  display: grid;
  grid-template-columns: 75% 25%;

  .invoice__form--header--field {
    padding: 0 1rem;
  }

  .invoice__form--header--logo {
    width: 200px;
    height: 100px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
  }

  .invoice__form--header--right {
    .form__field {
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }

    input {
      max-width: 80px;
    }
  }
}



.invoice__form--billing {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 1rem;
}
