.sidebar-nav__items {
  list-style: none;
  display: block;
  border: 0;
  line-height: 1;
  margin: 20px 30px;

  .sidebar-nav__item {
    display: flex;
    margin-bottom: 15px;

    a {
      width: 100%;
      padding: 8px 20px;
      color: #666;
      font-size: 15px;
      text-decoration: none;
      display: flex;
      font-weight: bold;
      align-items: center;
      border-radius: 20px;
      //letter-spacing: 0.5px;

      svg {
        fill: #666;
        margin: 0 16px 0 0;
      }

      &.active,
      &:hover,
      &:active {
        color: var(--primary-color);
        background-color: #f9f6fe;
        cursor: pointer;

        svg {
          fill: var(--primary-color);
        }
      }

    }

  }

}
