<nav class="sidebar-nav">
  <div class="sidebar-nav__items">
    <div class="sidebar-nav__item">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </div>
    <div class="sidebar-nav__item">
      <a routerLink="/invoices" routerLinkActive="active">Invoices</a>
    </div>
    <div class="sidebar-nav__item ">
      <a routerLink="/clients" routerLinkActive="active">Clients</a>
    </div>
    <div class="sidebar-nav__item sidebar-nav__item-settings">
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </div>
  </div>
</nav>

