.sidebar-nav__items {
  list-style: none;
  display: block;
  border: 0;
  line-height: 1;
  margin: 30px 15px;

  .sidebar-nav__item {
    display: flex;
    margin-bottom: 15px;

    a {
      width: 100%;
      padding: 10px 16px;
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      display: flex;
      font-weight: 600;
      align-items: center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      letter-spacing: 0.5px;

      svg {
        fill: #a8b3c7;
        margin: 0 16px 0 0;
      }

      &.active,
      &:hover,
      &:active {
        background-color: #2e3748;
        cursor: pointer;

        svg {
          fill: #fff;
        }
      }

    }

  }

}
